---
layout: default
layout_class: "foo"
---

<a href="#docs-navigation" class="go-to-docs-navigation">Go to documentation navigation</a>
<div class="container docs-page">
  <div class="docs-navigation" id="docs-navigation">
    <nav>
      <h2>Getting started</h2>
      <ul>
        <li><%= link_to_active "Home", "/docs" %></li>
        <li><%= link_to_active "Get started", "/docs/introduction" %></li>
        <li><%= link_to_active "Usage", "/docs/usage" %></li>
        <li><%= link_to_active "Configuration", "/docs/configuration" %></li>
        <li><%= link_to_active "Philosophy", "/docs/philosophy" %></li>
        <li><%= link_to_active "Support", "/docs/support" %></li>
      </ul>

      <h2>Setup</h2>
      <ul>
        <li><%= link_to_active "Installation", "/docs/installation", %r{^/docs/installation.*} %></li>
        <li><%= link_to_active "Git hooks", "/docs/git-hooks" %></li>
        <li><%= link_to_active "Git alias", "/docs/git-alias" %></li>
        <li><%= link_to_active "Automated Review", "/docs/automated-review" %></li>
      </ul>

      <h2>Rules</h2>
      <ul>
        <li><%= link_to_active "Rules overview", "/docs/rules" %></li>
        <li><%= link_to_active "Commit subject", "/docs/rules/commit-subject" %></li>
        <li><%= link_to_active "Commit message", "/docs/rules/commit-message" %></li>
        <li><%= link_to_active "Commit type", "/docs/rules/commit-type" %></li>
        <li><%= link_to_active "Branch", "/docs/rules/branch" %></li>
      </ul>
    </nav>
  </div>

  <main class="content" id="main">
    <h1><%= resource.data.title %></h1>

    <%= yield %>
  </main>
</div>
