<ul>
  <li>
    <h2>Getting started</h2>
    <ul>
      <li><%= link_to_active "Home", "/docs/" %></li>
      <li><%= link_to_active "Get started", "/docs/introduction/" %></li>
      <li><%= link_to_active "Usage", "/docs/usage/" %></li>
      <li><%= link_to_active "Output format", "/docs/output/" %></li>
      <li><%= link_to_active "Configuration", "/docs/configuration/" %></li>
      <li><%= link_to_active "Philosophy", "/docs/philosophy/" %></li>
      <li><%= link_to_active "Support", "/docs/support/" %></li>
    </ul>
  </li>
  <li>
    <h2>Setup</h2>
    <ul>
      <li>
        <%= link_to_active "Installation overview", "/docs/installation/" %>
        <ul>
          <li><%= link_to_active "Linux installation", "/docs/installation/linux/" %></li>
          <li><%= link_to_active "macOS installation", "/docs/installation/macos/" %></li>
          <li><%= link_to_active "GitHub Action", "/docs/installation/github-action/" %></li>
          <li><%= link_to_active "Docker image", "/docs/installation/docker-image/" %></li>
          <li><%= link_to_active "Cargo install", "/docs/installation/rust-cargo-install/" %></li>
        </ul>
      </li>
      <li><%= link_to_active "Git hooks", "/docs/git-hooks/" %></li>
      <li><%= link_to_active "Git alias", "/docs/git-alias/" %></li>
      <li><%= link_to_active "Automated review", "/docs/automated-review/" %></li>
    </ul>
  </li>
  <li>
    <h2>Rules</h2>
    <ul>
      <li><%= link_to_active "Rules overview", "/docs/rules/" %></li>
      <li>
        <h3>Rules for:</h3>
        <ul>
          <li><%= link_to_active "Commit subject", "/docs/rules/commit-subject/" %></li>
          <li><%= link_to_active "Commit message", "/docs/rules/commit-message/" %></li>
          <li><%= link_to_active "Commit type", "/docs/rules/commit-type/" %></li>
          <li><%= link_to_active "Branch", "/docs/rules/branch/" %></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
